<div>
    <div class="entity-list">
        <div>
            <div>
                <div class="title-bar">
                    <button mat-icon-button class="material-symbols-outlined button-back" (click)="goToActivityList()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <span class="title">{{inductionActivity.activity.name}}</span>
                </div>
                @if (isLoadingResults) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
            </div>
            <br>
            <div class="elearning-section">
                @for (processActivityContent of processActivityContents; track processActivityContent) {
                <div class="anddes-column process-activity-content-card"> 
                    <img  class="process-activity-content-image" [src]="processActivityContent.content.image">
                    <span class="process-activity-content-name-text">{{processActivityContent.content.name}}</span>
                    <span class="process-activity-content-date-text">Fecha l&iacute;mite: {{process.startDate | date:'EEE dd/MM':'':'es'}}</span>
                    <mat-progress-bar class="process-activity-content-progress" [value]="processActivityContent.progress"></mat-progress-bar>
                    <div class="process-activity-content-action">
                        <button mat-button (click)="detail(processActivityContent)"><span class="process-activity-content-button">Ingresar</span></button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

