.detail-description{
    font: normal normal normal 14px/20px Montserrat;
    font-weight: normal;
    margin-left: 12px;
    margin-right: 12px;
}
.service-title{
    margin-top: 48.5px;
    margin-bottom: 32px;
    margin-left: 16px;
}
.service-name{
    text-align: left;
    font: normal normal normal 22px/28px Neo Sans Std;
    letter-spacing: 0px;
    color: #383A38;
    opacity: 1;
}
.detail-accordion{
    margin-left: 16px;
    margin-right: 16px;
}
.detail-title{
    text-align: left;
    font: normal normal normal 16px/24px Neo Sans Std;
    letter-spacing: 0.04px;
    color: #383A38;
    opacity: 1;
}
.mat-expansion-panel-header-description{
    flex-grow: 0 !important;
}
.icon-size{
    font-size: 20px;
    color: #00539B;
    width: 20px;
    height: 20px;
}
@media (min-width: 1280px) {
    .detail-accordion{
        min-width: 70%;
    }
    .service-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title{
        min-width: 60%;
        display: flex;
        align-items: flex-start;
    }
}
@media (min-width: 1500px) {
    .service-title{
        min-width: 60%;
        display: flex;
        align-items: flex-start;
    }
}
@media (min-width: 1600px) {
    .service-title{
        min-width: 50%;
        display: flex;
        align-items: flex-start;
    }
}