<div>
    <span class="title"> Notificaciones
    </span>
</div>
<br>
<div class="contents">
    <mat-card class="content-card responsive-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Configuraci&oacute;n general</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #contentForm="ngForm">
                <br />
                <span class="label lbl-notifications">Foto</span>
                <div class="upload">
                    <button mat-stroked-button color="primary" class="btnUpload"
                        (click)="file.click()"><mat-icon>upload</mat-icon>Cargar Imagen</button>
                    <input type="file" hidden #file [accept]="acceptedFiles" (change)="onFileSelected($event)"
                        (input)="onInputChange($event)">
                    @if (notificationSenderProfile.urlPhoto) {
                    <span class="filename">{{getFileNameFromUrl(notificationSenderProfile.urlPhoto)}}</span>
                    <button mat-icon-button (click)="notificationSenderProfile.urlPhoto=null">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }
                </div>
                @if (notificationSenderProfile.urlPhoto) {
                <div style="text-align: center;">
                    <img [src]="notificationSenderProfile.urlPhoto" class="cover-image" />
                </div>
                }
                <br />
                <br />
                <span class="label lbl-notifications">Firma</span>
                <br />
                <br />
                <span class="label lbl-notifications">Nombre</span>
                <mat-form-field>
                    <input matInput placeholder="Nombre" name="fullname"
                        [(ngModel)]="notificationSenderProfile.fullname" required (input)="onInputChange($event)">
                </mat-form-field>
                <br>
                <span class="label lbl-notifications">Cargo</span>
                <mat-form-field>
                    <input matInput placeholder="Cargo" name="position" [(ngModel)]="notificationSenderProfile.position"
                        required (input)="onInputChange($event)">
                </mat-form-field>
                <br>
                <span class="label lbl-notifications">Direcci&oacute;n</span>
                <mat-form-field>
                    <input matInput placeholder="Direcci&oacute;n" name="address"
                        [(ngModel)]="notificationSenderProfile.address" required (input)="onInputChange($event)">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="save()" [disabled]="disableButton">Guardar</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="content-card responsive-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Configuración especifica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <button mat-button (click)="editTemplate(1)">De lanzamiento</button>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <button mat-button  (click)="editTemplate(2)">De primer d&iacute;a</button>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <button mat-button disabled>De elearning</button>
                </mat-list-item>
                <mat-list-item class="sub-list">
                    <button mat-button  (click)="editTemplate(3)">De inicio</button>
                </mat-list-item>
                <mat-list-item class="sub-list">
                    <button mat-button  (click)="editTemplate(4)">De en curso</button>
                </mat-list-item>
                <mat-list-item class="sub-list">
                    <button mat-button  (click)="editTemplate(5)">De &uacute;ltimo d&iacute;a</button>
                </mat-list-item>
                <mat-list-item class="sub-list">
                    <button mat-button  (click)="editTemplate(6)">De recordaci&oacute;n</button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<br />