<div>
    <span class="title"> Antes  
    </span>
</div>
<br>
<div class="entity-list">
    <div style="margin: 30px;">
        <br>
        <div>
            @if (isLoadingResults) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
            @for (activity of activities; track $index) {
                <div class="activity">
                    <button mat-button (click)="processActivity(activity)" class="activity-button">
                        <span>{{activity.name}}</span>
                    </button>
                    
                    @if (activity.code==codeActivityFirstDayInformation) {
                        <div class="first-day-information-item">
                            @for (item of items; track $index) {
                                <button mat-button (click)="editFirstDayInformation(item)" class="first-day-information-item-button">
                                    <span>{{item.title}}</span>
                                </button>      
                            }
                        </div>
                    }
                    <mat-divider></mat-divider>
                </div>
            }
        </div>
    </div>
</div>
<br>
<br>

