<div class="anddes-column">

    <div class="card-content">
        <div class="title-content content">
            <span class="content-name">{{dto.processActivityContent.content.name}}</span>
            <mat-progress-bar class="process-activity-content-progress" [value]="dto.processActivityContent.progress"></mat-progress-bar>     
        </div>
        @if(currentCard){
            @if (currentCard.card.type==ELEARNING_CONTENT_CARD_TYPE_TEXT) {
                <div  class="content-body" [innerHTML]="currentCard.card.content | safeHtml"></div>
            }@else if(currentCard.card.type==ELEARNING_CONTENT_CARD_TYPE_VIDEO) {
                <video  class="content" [src]="currentCard.card.urlVideo" [poster]="currentCard.card.urlPoster" autoplay controls (ended)="onVideoEnded()">
                </video>
            }@else if(currentCard.card.type==ELEARNING_CONTENT_CARD_TYPE_QUESTION) {
                <div class="content question-content">
                    <span class="question-evaluation-label">Evaluaci&oacute;n</span>
                    <span class="question-content-label">{{currentCard.card.content}}</span>
                    <span class="question-answer-label">Opciones de respuesta</span>
                </div>
                <mat-radio-group class="content card-options" [(ngModel)]="answer">
                    @for (option of currentCard.card.options; track option) {
                        <div style="display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;">
                            <mat-radio-button class="card-option" [value]="option" labelPosition="before" ><span class="question-radio-text">{{option.description}}</span></mat-radio-button>
                        </div>
                    }
                </mat-radio-group>
            }
            <br>
            <br>
            <div class="flexcontainer content">
                <div class="itemleft">
                    @if(currentIndex && currentIndex>1){
                        <button mat-icon-button class="material-symbols-outlined button-next" [disabled]="currentCard.card.type==ELEARNING_CONTENT_CARD_TYPE_QUESTION && !currentCard.readDateMobile" (click)="previousCard()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    }
                </div>
                <div class="itemcenter"><span class="paginate">{{currentIndex}}/{{dto.processActivityContent.cards.length}}</span></div>
                <div class="itemright">
                    <button mat-icon-button class="material-symbols-outlined" [disabled]="!canGoToNextCard" (click)="nextCard()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            <br>
            <br>
        }@else{
            @if(showResult){
            <div class="anddes-column result-content">
                @if(dto.processActivityContent.result < this.dto.processActivityContent.content.passingScore){ <mat-icon
                    class="material-symbols-outlined content-not-completed">cancel</mat-icon>
                    <span class="completed-label">Vuelve a intentar</span>
                    }@else {
                    <mat-icon class="material-symbols-outlined content-completed">check_circle</mat-icon>
                    <span class="completed-label">Completaste el modulo</span>
                    }
                    <div class="anddes-row">
                        <div class="completed-result" style="text-align: right;margin: 5px;"> <span>{{dto.processActivityContent.result}}%</span><br><span style="font-size: 14px;">Calificación</span></div>
                        <div class="linea-vertical" style="height: 60px; width: 2px; background-color: black; "></div>
                        <div class="completed-result" style="text-align: left;margin: 5px;"> <span>{{dto.processActivityContent.content.passingScore}}%</span><br><span style="font-size: 14px;">Nota mínima</span></div>
                    </div>
            </div>
            }@else{
            <mat-spinner></mat-spinner>
            }
        }
    </div>
</div>



