.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*******************************   Login      ********************************/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url("../assets/img/background/background_1600.png") no-repeat center center;
    background-size: cover !important;
}

.container-button {
    background: var(--surface-white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 0.95;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgLogo {
    display: block;
    width: 213px;
    height: 50px;
    background: url("../assets/img/logo-anddes.png") no-repeat center center / contain;
    margin-bottom: 50px;
}

/*******************************   Main page      ********************************/

.page-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url("../assets/img/background/backgroundMain.png") no-repeat center center;
    background-size: cover;
}

/*******************************   Menu     ********************************/
.menu-button {
    color: #F1F4F8 !important;
    font-family: 'Neo Sans Std';
    letter-spacing: 2.0px;
    font-weight: 600;
}

.menu-option {
    background: none;
}

.menu-logo {
    margin-left: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: url("../assets/img/logo/logo-blanco.png") no-repeat center center;
    background-size: cover;
    width: 150px;
    height: 30px;
}

/*******************************   Menu Lateral     ********************************/
mat-sidenav {
    background-color: #383A38;
    color: white;
}

.drawer-contend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-btn {
    display: block;
}

.drawer-option {
    display: block;
}

.nav-list-item {
    font-size: 20px;
    background-color: none;
    margin: 20px;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    box-shadow: none;
}

@media (max-width: 480px) {
    .container {
        background-position: 42%;
    }

    .imgLogo {
        margin-top: 0px;
    }

    .container-button {
        width: 300px;
        height: 250px;
    }

    .logo-sidenav {
        width: 100px;
    }

    .menu-button {
        font-size: 0.9rem;
    }
    #content-box{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .container {
        background-position: 40%;
    }

    .logo-sidenav {
        width: 120px;
    }

    .menu-button {
        font-size: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .container {
        background-position: 40%;
    }

    .logo-sidenav {
        width: 140px;
    }

    .menu-button {
        font-size: 1rem;
    }
}

@media (min-width: 1367px) {
    .logo-sidenav {
        width: 150px;
    }

    .menu-button {
        font-size: 1.1rem;
    }
}
.no-border{
    border-top-right-radius : 0px !important;
    border-bottom-right-radius : 0px !important;
}
.toolbar{
    background-color: transparent !important;
}
.white-icon {
    color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: white;
}
.sidenav-content{
    margin-right: 1px !important;
}
.toolbar-logo{
    background: url("../assets/img/logo/logo-blanco.png") no-repeat center center;
    background-size: cover;
    width: 100px;
    height: 20px;
}
#content-box{
    margin-top: 10px;
    margin-left: 48px;
    margin-right: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
}