<div>
    <span class="title"> Mi primera semana  
    </span>
</div>
<br>
<div class="entity-list">
    <div style="margin: 30px;">
    <div align="end">
      <button mat-flat-button class="btn-form" color="primary" (click)="add()"><mat-icon>add</mat-icon>Nuevo Curso</button>
    </div>
    <br>
        <div>
            @if (isLoadingResults) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
            <div class="contents">
                @for (content of contents; track $index) {
                    <mat-card class="content-card">
                        <!--<mat-card-header>
                        </mat-card-header>-->
                        @if (content.image) {
                            <img mat-card-image [src]="content.image" class="content-image">
                        }
                        <mat-card-content>
                            <mat-card-title class="title" style="margin-top: 10px !important;">{{content.name}}</mat-card-title>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-button color="primary" (click)="edit(content)">EDITAR</button>
                        </mat-card-actions>
                    </mat-card>
                }
            </div>
        </div>
    </div>
</div>
<br>
<br>
