<div class="page">
    @if (loginDisplay) {
    <mat-sidenav-container id="sidenav-container-color" [hasBackdrop]="mdcBackdrop">
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" id="sidenav-color" [mode]="drawerMode"
            opened="true">
            <div>
                <img src="../assets/img/logo-blanco.png" class="logo-sidenav">
            </div>
            <div>
                <button mat-button class="menu-button" [routerLink]="['/users']" routerLinkActive="active">
                    <span>USUARIOS</span>
                </button>
            </div>
            <br>
            <div>
                <button mat-button class="menu-button" [routerLink]="['/tools']" routerLinkActive="active">
                    <span>HERRAMIENTAS</span>
                </button>
            </div>
            <br>
            <div>
                <button mat-button class="menu-button" [routerLink]="['/services']" routerLinkActive="active">
                    <span>VIDA EN LA EMPRESA</span>
                </button>
            </div>
            <br>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <!-- There is inline padding applied to this node using styles.
              This padding value depends on the mat-icon-button width. -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <button mat-button class="menu-button" [routerLink]="[node.url]" routerLinkActive="active">
                        <span>{{node.name}}</span>
                    </button>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <button mat-button class="menu-button">
                            <span>{{node.name}}</span>
                        </button>
                    </div>
                    <!-- There is inline padding applied to this div using styles.
                    This padding value depends on the mat-icon-button width.  -->
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
            <mat-tree [dataSource]="dataSourceReporte" [treeControl]="treeControlReporte" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <!-- There is inline padding applied to this node using styles.
              This padding value depends on the mat-icon-button width. -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <button mat-button class="menu-button" [routerLink]="[node.url]" routerLinkActive="active">
                        <span>{{node.name}}</span>
                    </button>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControlReporte.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <button mat-button class="menu-button">
                            <span>{{node.name}}</span>
                        </button>
                    </div>
                    <!-- There is inline padding applied to this div using styles.
                    This padding value depends on the mat-icon-button width.  -->
                    <div [class.example-tree-invisible]="!treeControlReporte.isExpanded(node)" role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
            <div>
                <button mat-button class="menu-button" [routerLink]="['/notifications']" routerLinkActive="active">
                    <span>NOTIFICACIONES</span>
                </button>
            </div>
            <br>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <mat-toolbar>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Cerrar Sesi&oacute;n</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
            <div id="content-box">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    }@else {
    <div>
        <div class="container">
            <div class="imgBackground">
            </div>
            <div class="container-button">
                <div class="imgLogo"></div>
                <button mat-flat-button color="primary" class="buttonLogin" (click)="loginRedirect()">Ingresar</button>
            </div>
        </div>
    </div>
    }
</div>